* {
    box-sizing: border-box;
}

body, html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}

:root {
    --main-purple: #2b376e;
    --main-white: #f9f9f9;
    --gold-accent: #B38B45;
}